Repository zimshk/brave-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bridiver, @bsclifton, @kylehickinson, @mihaiplesa, @NejcZdovc, @tmancey, @iefremov, @simonhong, @fmarier, @bbondy, @ryanml, @darkdh

.github/CODEOWNERS:

patches/ @bridiver
chromium_src/ @bridiver
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/brave-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa

# Rewards
browser/brave_rewards/ @NejcZdovc
browser/extensions/api/brave_rewards_api.cc @NejcZdovc
browser/extensions/api/brave_rewards_api.h @NejcZdovc
browser/ui/webui/brave_rewards_page_ui.cc @NejcZdovc
browser/ui/webui/brave_rewards_page_ui.h @NejcZdovc
browser/ui/webui/brave_rewards_ui.cc @NejcZdovc
browser/ui/webui/brave_rewards_ui.h @NejcZdovc
components/brave_rewards/ @NejcZdovc
components/services/bat_ledger/ @NejcZdovc
vendor/bat-native-ledger/ @NejcZdovc

# Ads
vendor/bat-native-ads/ @tmancey
components/brave_ads/ @tmancey
components/services/bat_ads/ @tmancey

# Network
browser/net/ @iefremov

# Brave theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/brave_wayback_machine_* @simonhong
components/brave_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/brave_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/brave_wallet/ @bbondy @ryanml
components/brave_wallet/ @bbondy @ryanml

# Brave Referrals Service
components/brave_referrals/browser/brave_referrals_service* @simonhong

# Brave Sync
components/brave_sync/ @darkdh
components/sync/driver/ @darkdh
chromium_src/components/sync/ @darkdh
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @darkdh

Update patches from Chromium 85.0.4183.26 to Chromium 85.0.4183.38.
  patches/chrome-VERSION.patch
  patches/chrome-android-java-src-org-chromium-chrome-browser-ChromeTabbedActivity.java.patch
  patches/chrome-browser-BUILD.gn.patch
  patches/chrome-browser-about_flags.cc.patch
  patches/chrome-browser-flags-android-chrome_feature_list.cc.patch
  patches/chrome-browser-resources-settings-privacy_page-privacy_page.html.patch
  patches/chrome-browser-resources-settings-site_settings-category_default_setting.js.patch
  patches/chrome-test-BUILD.gn.patch
  patches/components-download-internal-common-download_item_impl.cc.patch
  patches/tools-metrics-histograms-histograms.xml.patch
Owners: @bridiver

Fixes about_flags.cc override.
  chromium_src/chrome/browser/about_flags.cc
Owners: @bridiver

[Android] Moved exclusions for material lib to brave-core
  build/android/config.gni
  patches/chrome-android-chrome_public_apk_tmpl.gni.patch
Owners: @bridiver

add missing callback param https://chromium.googlesource.com/chromium/src/+/b0c11f034e23b8a28a776e71f5d362a3fa47c6be
  chromium_src/chrome/browser/ui/webui/help/version_updater_mac.mm
Owners: @bridiver

fix content settings tests https://source.chromium.org/chromium/chromium/src/+/2fbb8e5c2bce66bede14cbfe9c6b427b835f67d9 https://blog.chromium.org/2020/01/building-more-private-web-path-towards.html
  browser/net/brave_network_delegate_browsertest.cc
  components/content_settings/renderer/brave_content_settings_agent_impl_browsertest.cc
Owners: @iefremov

Disables blink::features::kAVIF.
  app/brave_main_delegate.cc
  app/brave_main_delegate_browsertest.cc
Owners: none

Lint fixes.
  browser/download/brave_download_item_model.h
  browser/net/brave_network_delegate_browsertest.cc
  components/brave_rewards/browser/publisher_info_backend.cc
  components/content_settings/renderer/brave_content_settings_agent_impl_browsertest.cc
  third_party/libaddressinput/chromium/chrome_metadata_source_unittest.cc
Owners: @iefremov, @NejcZdovc

Lint fix: non-const reference -> pointer.
  browser/download/brave_download_item_model.cc
  browser/download/brave_download_item_model.h
  browser/download/brave_download_item_model_unittest.cc
  browser/ui/views/download/brave_download_item_view.cc
Owners: none

Remove chromium search engine orders for android
  patches/chrome-android-java-src-org-chromium-chrome-browser-search_engines-settings-SearchEngineAdapter.java.patch
Owners: @bridiver
